/*==============================================
================= TRIVIA GAME =================
==============================================*/
body {
	background: cover;
	background-attachment: fixed;
}

h1, #timerDiv {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-left: 390px;
	background: #fffcd3;
	border-style: ridge;
	border-width: 4px;
	border-color: #00a4f7;
}

h1{
	box-shadow: 0px -8px 156px 0px #999999;
	box-shadow: 0px -8px 156px 0px #ffffff;
}



#gameDisplay, #resultsDiv {
	font-family: 'Roboto Condensed', sans-serif;
	width: 80%;
	background: #fffcd3;
	margin: auto;
	margin-top: 10px;
	border-style: ridge;
	border-width: 4px;
	border-color: #00a4f7;
	box-shadow: 0px -8px 156px 0px #000000;
	/*box-shadow: 16px 16px 58px 8px #878787*/
}

#gameDisplay {
	z-index: 5;
}

#audioPlayer {
	position: relative;
	left: -68px;
}

#resultsDiv {
	height: 45px;
	text-align: center;
	margin-bottom: 30px;
}

#results {
	margin: auto;
	font-size: 25px;
}

.questionHead {
	font-size: 20px;
}

#timerDiv {
	position: relative;
	top: 0px;
	left: 0px;
	font-size: 25px;
}

#button {
	text-align: center;
	position: relative;
	left: 362px;
}


